{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
        <h2>
                {{ categorie.name }}
        </h2>

                {% for produit in categorie.produits %}
                    <div class="bordure-grise shadow">
                        <img src="" alt="" srcset="">
                        {{ produit.libelle }}
                        {{ produit.prix }}
                    </div>
                {% endfor %}
        </div>
    </div>

{% endblock %}
