{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        div {
            border: 1px dashed green;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
                {% for categorie in categories %}
                    <div class="col-4">
                    <a href="/categorie/{{ categorie.id }}">
                        <img class="img-fluid" src="https://picsum.photos/300/200" >
                        <div class="text-center">
                        {{ categorie.name}}
                        </div>
                    </a>
                    </div>
                {% endfor %}
        </div>
    </div>

{% endblock %}
