{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
        <div class="col-12 mb-3">
            
        </div>
                {% for pro in liste %}
                    <div class="col-12">
                        <div class="bordure-grise px-3 pt-3 mb-3 shadow">
                            <a href="/categorie/{{ pro.id }}">
                                <h4 class="text-center">
                                {{ pro.libelle}}
                                </h4>
                                <a href="/add/{{ pro.id }}" class="btn btn-success">Ajouter au panier</a>
                            </a>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>

{% endblock %}
