{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

    {% for p in liste %}

    <div>
        <a href="">
            {{ p.categorie.name }} <br>
            {{ p.libelle }} <br>
            {{ p.prix }}
            <hr>
        </a>
    </div>
        
    {% endfor %}

{% endblock %}
