{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<h1>panier</h1>

{% for pro in panier %}

    <div>
        {{ pro.libelle }}
    </div>
    <div>
        {{ pro.prix }}
    </div>
    
{% endfor %}

<hr>

<a href="/clear" class="btn btn-danger">Vider la panier</a>


{% endblock %}
