{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<h1>panier</h1>

{% for pro in panier %}

    <div>
        {{ pro.libelle }}
    </div>
    <div>
        {{ pro.prix }}
    </div>
    
{% endfor %}

<hr>

<div>
    <a href="/clear" class="btn btn-danger">
        Vider la panier
    </a>
</div>

<div>
    <a href="/valid" class="btn btn-success">
        Valider la commande
    </a>
</div>


{% endblock %}
